[MASTER]
extension-pkg-whitelist=cv2
[MESSAGES CONTROL]
reports=no
disable=metaclass-assignment,
        zip-builtin-not-iterating,
        useless-suppression,
        xrange-builtin,
        input-builtin,
        using-cmp-argument,
        import-star-module-level,
        map-builtin-not-iterating,
        raw_input-builtin,
        parameter-unpacking,
        no-absolute-import,
        basestring-builtin,
        old-ne-operator,
        reduce-builtin,
        apply-builtin,
        reload-builtin,
        cmp-method,
        unicode-builtin,
        delslice-method,
        round-builtin,
        nonzero-method,
        old-octal-literal,
        file-builtin,
        execfile-builtin,
        long-suffix,
        unpacking-in-except,
        buffer-builtin,
        cmp-builtin,
        getslice-method,
        intern-builtin,
        coerce-method,
        old-raise-syntax,
        dict-iter-method,
        next-method-called,
        old-division,
        dict-view-method,
        long-builtin,
        range-builtin-not-iterating,
        hex-method,
        raising-string,
        suppressed-message,
        unichr-builtin,
        indexing-exception,
        oct-method,
        backtick,
        standarderror-builtin,
        coerce-builtin,
        print-statement,
        setslice-method,
        filter-builtin-not-iterating,
        missing-docstring,
        locally-disabled,
        bad-continuation,
        fixme,
        no-self-use,
        ungrouped-imports
[BASIC]
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|[a-z_][a-z0-9_]{2,30})$
good-names = i,j,k,ex,Run,_,fn,k,v
[FORMAT]
max-line-length=120
